
bin/

.vs/

.idea/

obj/

resources/Models/.DS_Store

resources/Models/horizontal-scroll-gallery/horizontal-scroll-gallery.component.html

resources/Models/horizontal-scroll-gallery/horizontal-scroll-gallery.component.scss
/nbproject/private/
