@{
    ViewData["Title"] = "Home Page";
}

@using Newtonsoft.Json;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">*@
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="~/css/Sidebar.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/configurator-style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.4/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.4/css/dx.light.css" />

</head>

<style>
    [contenteditable="true"]:active,
    [contenteditable="true"]:focus {
        border-bottom: 1px solid black;
        padding: 2px;
        outline: none;
    }

    [contenteditable="true"]:focus>style::before {
        content: "styles";
        font-size: 1.5em;
        font-weight: 700;
    }

    [contenteditable="true"]:focus>style {
        display: block;
        position: relative;
        right: -50%;
        top: -2em;
        color: blue;
        font-family: courier, monospace;
        font-size: .75em;
        line-height: 1.5;
        padding: .5em;
        background: #fff;
        border: 1px solid #999;
        box-shadow: 1px 1px 2px #777;
        border-radius: 5px;
    }

    .edit-title-icon {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
        cursor: pointer;
        display: none;
    }

    .vertical-pdf-scroll-container {
        position: relative;
        margin: 15px;
        padding: 8px;
        width: 100%;
        overflow-y: scroll;
    }

    .horizontal-pdf-scroll {
        position: relative;
        margin: 15px;
        display: flex;
        overflow-x: scroll;
        padding: 8px;
    }

    canvas{
        padding: 6px;
    }

    .vertical-pdf-scroll-container > canvas {
        max-width: 100%;
    }

    .canvas-pdf-scrollable{
      margin: 0 auto;
      display: block;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .page-options {
        margin-right: 0 !important;
        margin: auto;
        display: flex;
    }

    #prev-page, #next-page, #zoom-in, #zoom-out {
        background-color: transparent;
        border: none;
    }

    #zoom-in, #zoom-out {
        float: right;
    }

    .pdf-toolbar {
        background-color: #4B4B4B;
        border-radius: 20px;
    }

    .map-container {
        margin: auto;
        width: 100% !important;
    }

    #prev-page > .fas, #next-page > .fas, #zoom-in > .fas, #zoom-out > .fas {
        line-height: 2 !important;
        color: white;
    }

    .pdf-page-info {
        margin-left: 1rem;
        color: white;
    }

    .page {
    max-width: 80%;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    }

    #page {
        text-align: center;
    }
</style>

<body>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">pro sidebar</a>
                    <div id="close-sidebar" onclick="reloadGalleries()">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded"
                            src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                            alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">
                            Jhon
                            <strong>Smith</strong>
                        </span>
                        <span class="user-role">Administrator</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        @if (@ViewBag.HomePagesNumber > 0)
                        {
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="far fa-file"></i>
                                    <span>Home Pages</span>
                                    <span id="home-pages-number" class="badge badge-pill badge-success"></span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul id="home-pages-list">

                                    </ul>
                                </div>
                            </li>
                        }
                        @if (@ViewBag.PagesNumber == 0)
                        {

                        }

                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="far fa-file"></i>
                                <span>Pagine</span>
                                <span id="pages-number" class="badge badge-pill badge-success"></span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul id="pages-list">

                                </ul>
                            </div>
                        </li>

                    </ul>

                </div>
        </nav>
        <!-- sidebar-wrapper  -->

        <main class="page-content" id="main">
            <div class="row">
                <h4 id="page-title" contenteditable="true" style="display:block;"></h4>
                <span id="editButton" class="edit-title-icon">
                    <i class="fas fa-pencil-alt" style="font-size: 15px;"></i>
                </span>
                <div class="page-options">
                    <div id="page-language" style="display: none;">
                        <label for="">Lingua: </label>
                        <select name="language" id="language">

                        </select>
                    </div>
                    <div id="page-default" style="display: none;">
                        <label for="">Default: </label>
                        <select name="default" id="default"></select>
                    </div>
                </div>
                @* <div>
                    <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                    </label>
                    </div> *@
            </div>
            <div class="demo-container" id="demo-container" style="display: none;">
                <div id="page" class="page">
                    <div id="responsive-box">
                        @* <div class="header" data-options="dxItem: {
                    location: [{
                        row: 0,
                        col: 0,
                        colspan: 3,
                        screen: 'lg'
                    }, {
                        row: 0,
                        col: 0,
                        colspan: 2,
                        screen: 'sm'
                    }]
                }">
                            <p>Header</p>
                        </div>
                        <div class="content" data-options="dxItem: {
                    location: [{
                        row: 1,
                        col: 1,
                        screen: 'lg'
                    }, {
                        row: 1,
                        col: 0,
                        colspan: 2,
                        screen: 'sm'
                    }]
                }">
                            <p>Content</p>
                        </div>
                        <div class="left-side-bar" data-options="dxItem: {
                    location: [{
                        row: 1,
                        col: 0,
                        screen: 'lg'
                    }, {
                        row: 2,
                        col: 0,
                        screen: 'sm'
                    }]
                }">
                            <p>Left Bar</p>
                        </div>
                        <div class="right-side-bar" data-options="dxItem: {
                    location: [{
                        row: 1,
                        col: 2,
                        screen: 'lg'
                    }, {
                        row: 2,
                        col: 1,
                        screen: 'sm' }]
                    }">
                            <p>Right Bar</p>
                        </div>
                        <div class="page-footer" data-options="dxItem: {
                    location: [{
                        row: 2,
                        col: 0,
                        colspan: 3,
                        screen: 'lg'
                    }, {
                        row: 2,
                        col: 0,
                        colspan: 2,
                        screen: 'sm' }]
                    }">
                            <p>Footer</p>
                        </div> *@
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>

</html>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCowLFqzzxbC6fbqqoWeJb97MeAi3Hvqqo" async></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.12.313/build/pdf.min.js"></script>
<script src="~/js/configurator.js" asp-append-version="true"></script>
@* <script>window.jQuery || document.write(decodeURIComponent('%3Cscript
    src="js/jquery.min.js"%3E%3C/script%3E'))</script> *@
<script src="https://cdn3.devexpress.com/jslib/21.2.4/js/dx.all.js"></script>
<script>
    @* $(() => {
        $('#responsive-box').dxResponsiveBox({
            rows: [
                { ratio: 1 },
                { ratio: 2 },
                { ratio: 2, screen: 'xs' },
                { ratio: 1 },
            ],
            cols: [
                { ratio: 1 },
                { ratio: 2, screen: 'lg' },
                { ratio: 1 },
            ],
            singleColumnScreen: 'sm',
            screenByWidth(width) {
                return (width < 700) ? 'sm' : 'lg';
            },
        });
    }); *@



    $(".sidebar-dropdown > a").click(function () {
        $(".sidebar-submenu").slideUp(200);
        if (
            $(this)
                .parent()
                .hasClass("active")
        ) {
            $(".sidebar-dropdown").removeClass("active");
            $(this)
                .parent()
                .removeClass("active");
        } else {
            $(".sidebar-dropdown").removeClass("active");
            $(this)
                .next(".sidebar-submenu")
                .slideDown(200);
            $(this)
                .parent()
                .addClass("active");
        }
    });

    $("#close-sidebar").click(function () {
        $(".page-wrapper").removeClass("toggled");
        $(".page-content").addClass("myPadding");
    });
    $("#show-sidebar").click(function () {
        $(".page-wrapper").addClass("toggled");
        $(".page-content").removeClass("myPadding");
    });

    $('#page-title').click(function () {

    });

    $('#editButton').click(function () {
        $('#page-title').focus();
    });

</script>
@* @RenderSection("Scripts", required: false) *@
