@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script src="https://cdn.tiny.cloud/1/y10y7it4cblpazpalsphbcrlyoz7xtuyid9skocdb0bw6l5a/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> *@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/Sidebar.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/configurator-style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.4/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.4/css/dx.light.css" />

</head>

<style>
    [contenteditable="true"]:active,
    [contenteditable="true"]:focus {
        border-bottom: 1px solid black;
        padding: 2px;
        outline: none;
    }

    [contenteditable="true"]:focus>style::before {
        content: "styles";
        font-size: 1.5em;
        font-weight: 700;
    }

    [contenteditable="true"]:focus>style {
        display: block;
        position: relative;
        right: -50%;
        top: -2em;
        color: blue;
        font-family: courier, monospace;
        font-size: .75em;
        line-height: 1.5;
        padding: .5em;
        background: #fff;
        border: 1px solid #999;
        box-shadow: 1px 1px 2px #777;
        border-radius: 5px;
    }

    .container {
        max-width: 74%;
    }

    h4 {
        margin-bottom: 0 !important;
    }

    .card-title {
        margin-bottom: 0.75rem;
        margin-top: 0.75rem;
    }

    .edit-title-icon {
        margin-bottom: auto;
        margin-left: 15px;
        cursor: pointer;
        display: none;
    }

    .page-card {
        padding: 20px;
        border: 0.1px solid black;
        border-radius: 4px;
        background-color: #f3f3f39e;
        margin: 10px;
        width: 200px;
        cursor: pointer;
    }

    .page-card:hover {
      transform: scale(1.1);
        box-shadow: 1px 1px 1px #000000;
    }

    .vertical-pdf-scroll-container {
        position: relative;
        margin: 15px;
        padding: 8px;
        width: 100%;
        overflow-y: scroll;
    }

    .horizontal-pdf-scroll {
        position: relative;
        margin: 15px;
        display: flex;
        overflow-x: scroll;
        padding: 8px;
    }

    canvas {
        padding: 6px;
    }

    .vertical-pdf-scroll-container>canvas {
        max-width: 100%;
    }

    .canvas-pdf-scrollable {
        margin: 0 auto;
        display: block;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .page-options {
        margin-right: 0 !important;
        margin: auto;
        display: flex;
    }

    #prev-page,
    #next-page,
    #zoom-in,
    #zoom-out {
        background-color: transparent;
        border: none;
    }

    #zoom-in,
    #zoom-out {
        float: right;
    }

    .pdf-toolbar {
        background-color: #4B4B4B;
        border-radius: 20px;
    }

    .map-container-default {
        margin: auto;
        width: auto;
        height: 500px;
    }

    .web-page-container-default {
        width: auto;
        height: 100vh;
    }

    .video-container-default {
        width: auto;
        height: 600px;
    }

    #prev-page>.fas,
    #next-page>.fas,
    #zoom-in>.fas,
    #zoom-out>.fas {
        line-height: 2 !important;
        color: white;
    }

    .grid-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .grid-gallery>.image-item:hover .actions-panel {
        opacity: 1;
    }

    .grid-gallery>.image-item {
        width: calc(25% - 16px);
        margin: 8px;
        position: relative;
    }

    .image-item>img {
        width: 100%;
        max-height: 450px;
        object-fit: contain;
        display: block;
    }

    .grid-gallery>.selectable {
        cursor: pointer;
    }

    .pdf-page-info {
        margin-left: 1rem;
        color: white;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;
    }

    .gallery .gallery-container {
        display: flex;
        flex-direction: row;
        height: 100%;
        flex: 1 1 auto;
        padding: 24px 0;
        overflow-x: scroll;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .gallery .gallery-container .item-gallery-image {
        height: 100%;
        width: auto;
        margin: 0 3px;
        position: relative;
        display: block;
        cursor: pointer;
    }

    .gallery .gallery-container .item-gallery-image img {
        height: 100%;
        object-fit: contain;
        display: block;
    }

    .gallery .gallery-container .item-gallery-image:first-of-type {
        margin-left: 0;
    }

    .gallery .gallery-container .item-gallery-image:last-of-type {
        margin-right: 0;
    }

    .gallery .gallery-container .item-gallery-image:hover {
        transform: scale(1.1);
        z-index: 100;
    }

    .gallery .gallery-container .item-gallery-image:hover .actions-panel {
        opacity: 1;
    }

    .gallery .gallery-container .disable-scale:hover {
        transform: scale(1) !important;
        z-index: 0;
    }

    .gallery .gallery-container .disable-scale:hover .actions-panel {
        display: none;
    }

    .gallery .gallery-container::-webkit-scrollbar {
        display: none;
    }

    .gallery .navigation-arrow {
        height: 100%;
        display: flex;
        align-items: center;
        flex: 0 0 56px;
    }

    .gallery .navigation-arrow svg-icon {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 8px;
        fill: white;
        padding: 4px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .gallery .navigation-arrow svg-icon:hover {
        background-color: rgba(0, 0, 0, 0.9);
    }

    .gallery .left-arrow {
        transform: rotateZ(180deg);
    }

    .horizontal-scroll-wrapper {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: auto;
        margin: 0;
        overflow-y: auto;
        overflow-x: auto;
    }

    .left-icon {
        left: 0;
        position: absolute;
        top: 50%;
        margin-left: 20px;
    }

    .right-icon {
        right: 0;
        position: absolute;
        top: 50%;
        margin-right: 20px;
    }

    .left-icon,
    .right-icon {
        color: white;
        font-size: 2.33333em;
        z-index: 101;
    }

    .edit-icon {
        padding: 10px;
        display: none;
        width: fit-content;
        right: 0;
        left: 0;
        margin: auto;
        cursor: pointer;
    }

    .page-structure {
        border: 1px dashed;
    }

    .structure {
        margin: 10px;
        padding: 10px;
        border: 2.2px dashed #312d2d;
    }

    .page {
        max-width: 80%;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }

    .edit-panel {
        display: none;
        width: 50%;
        height: 800px;
        margin: auto;
        background-color: #f0f0f0;
        top: 0;
        bottom: 0;
        position: absolute;
        right: 0;
        left: 0;
        border-radius: 20px;
    }

    .edit-panel-container {}

    .edit-button-container {
        width: 20%;
        right: 0;
        left: 0;
        margin: auto;
    }

    a {
        color: #9a9a9a !important;
    }

    .nav-link.active {
        color: black !important;
    }

    #page {
        text-align: center;
    }

    input[type='checkbox'] {
        cursor: pointer;
    }

    textarea {
        display: none;
    }

    #history-container {
        margin: auto;
    }

    #history-container *, #structure-icon:hover {
        cursor: pointer;
    }

    .form-select {
        display: block;
        width: 100%;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        -moz-padding-start: calc(0.75rem - 3px);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .dx-icon-arrowleft {
        font-size: 30px;
        cursor: pointer;
    }

    .dx-toast-content {
      min-width: 300px;
      max-width: 400px;
    }

    .dx-fa-button.dx-fa-button-main .dx-overlay-content, .dx-fa-button.dx-fa-button-main:hover {
        background-color: #3e9d36;
    }

</style>

<body>
    <div id="wrapper" class="page-wrapper chiller-theme toggled" style="height: 100%;">

        <div id="list" class="container" style="margin-top: 20px;">
            <div id="home-pages-container" class="row"></div>
            <div id="pages-container" class="row"></div>
                <div class="modal fade" id="options-modal" role="dialog" style="backdrop-filter: blur(3px);"
                data-backdrop="static">
                    <div class="modal-dialog modal-xl" style="margin-top: 5rem;">

                    <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="options-modal-title">Pagine disponibili</h4>
                                <button id="close-modal-button" type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div style="padding-left: 20px;">
                                    <div id="page-options" class="row"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <main class="page-content" id="main" style="display: none;">
            <div class="spinner-container" style="display: block; height: 100%; width: 100%;">
                <div class="loadpanel"></div>
            </div>
            <div class="row" style="max-width: 90%;">
                <i id="go-back" class="dx-icon-arrowleft"></i>
                <div class="page-options">
                    <div id="history-container" style="display: block; margin-right: 60px">
                        <i id="prev-page" class="fa-solid fa-rotate-left fa-xl" style="display: none; margin-right: 20px;"></i>
                    </div>
                    <div id="structure-button" style="display: none; margin-left: 20px;">
                        <i id="structure-icon" class="fa-solid fa-pen-to-square fa-xl"></i>
                    </div>
                </div>
            </div>
            <div class="demo-container" id="demo-container" style="display: none;">
                <div id="page" class="page">
                    <div id="responsive-box">
                    </div>
                </div>
            </div>
            <div id="save-page"></div>
            <div id="publish-page"></div>
        </main>


        <div class="modal fade" id="edit-modal" role="dialog" style="backdrop-filter: blur(3px); display: none;"
            data-backdrop="static">
            <div class="modal-dialog modal-xl" style="margin-top: 5rem;">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modify-modal-title">Modifica widget</h4>
                        <button id="close-modal-button" type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <h5 style="font-weight: 700;">Impostazioni</h5>
                        </div>

                        <div id="settings-tab" class="container">
                            <ul class="nav nav-tabs">
                                <a class="nav-item active nav-link" href="#metadata-pane" data-toggle="tab">Metadata</a>
                                <a class="nav-item nav-link" href="#property-pane" data-toggle="tab">Proprietà</a>
                                <a class="nav-item nav-link" href="#content-pane" data-toggle="tab">Contenuto</a>
                                <a class="nav-item nav-link" href="#text-pane" data-toggle="tab">Testo</a>
                                <a class="nav-item nav-link" href="#event-pane" data-toggle="tab">Eventi</a>
                                <a class="nav-item nav-link" href="#style-pane" data-toggle="tab">Stile</a>
                                <a class="nav-item nav-link" href="#mobile-style-pane" data-toggle="tab">Stile Mobile</a>
                            </ul>
                            <div class="tab-content" style="padding: 2%;">
                                <div class="tab-pane active" id="metadata-pane">
                                    <div id="metadata"></div>
                                </div>

                                <div class="tab-pane" id="property-pane">
                                    <div id="properties"></div>
                                </div>

                                <div class="tab-pane" id="content-pane">

                                    <div class="row" id="0" style="display: none;">
                                        <label for="0-text">Testo:</label>
                                    </div>

                                    <div id="1" style="display: none;">
                                        <div id="gallery-source"></div>
                                        <span style="margin-top: 22px; display: block;"></span>
                                        <div id="gallery-content"></div>
                                    </div>

                                    <div id="2" style="display: none;">
                                        <div id="video-source"></div>
                                        <span style="margin-top: 22px; display: block;"></span>
                                        <div id="video-content"></div>
                                    </div>

                                    <div class="row" id="3" style="display: none;">
                                        <div id="pdf-source"></div>
                                    </div>

                                    <div id="4" style="display: none;">
                                        <div id="showcase-source"></div>
                                        <span style="margin-top: 22px; display: block;"></span>
                                        <div id="showcase-content"></div>
                                    </div>

                                    <div id="5" style="display: none;">
                                        <div id="map-content"></div>
                                    </div>

                                    <div class="row" id="6" style="display: none;">
                                        <div id="webpage-source"></div>
                                    </div>

                                    <div class="row" id="101" style="display: none;">
                                        <div id="horizontalScrollGallery-source"></div>
                                    </div>

                                    <div class="row" id="102" style="display: none;">
                                        <div id="gridGallery-source"></div>
                                    </div>

                                </div>

                                <div class="tab-pane" id="event-pane">
                                    <div id="events-checkbox"></div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div id="ca-type"></div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div id="ca-0"></div>
                                    <div id="ca-1"></div>
                                    <div id="ca-2"></div>
                                    <div id="ca-4"></div>
                                    <div id="ca-5"></div>
                                    <div id="ca-6"></div>
                                </div>

                                <div class="tab-pane" id="text-pane">
                                    <div class="row">
                                        <div class="col-md-12" id="text-editor-container-12">
                                            <label for="text">Testo:</label>
                                        </div>

                                    </div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div id="text"></div>
                                </div>

                                <div class="tab-pane" id="style-pane">
                                    <div id="dimensions"></div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div id="margin"></div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div id="padding"></div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div id="more"></div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div id="font"></div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <label for="">Bordi</label><br />
                                    <div id="border-selection"></div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div id="border-properties"></div>
                                </div>

                                <div class="tab-pane" id="mobile-style-pane">
                                    <div id="mobile-dimensions"></div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div id="mobile-margin"></div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div id="mobile-padding"></div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div id="mobile-more"></div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div id="mobile-font"></div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <label for="">Bordi</label><br />
                                    <div id="mobile-border-selection"></div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div id="mobile-border-properties"></div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="delete" class="btn btn-danger" data-dismiss="modal">Elimina Widget</button>
                            <button id="save-widget-changes-button" type="button" class="btn btn-success" data-dismiss="modal">Salva</button>
                        </div>
                    </div>
                </div>
            </div>

</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCowLFqzzxbC6fbqqoWeJb97MeAi3Hvqqo" async></script>
<script src='https://static.matterport.com/showcase-sdk/latest.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.12.313/build/pdf.min.js"></script>
<script type="module" src="~/js/requests-manager.js" asp-append-version="true"></script>
<script src="https://cdn3.devexpress.com/jslib/21.2.4/js/dx.all.js"></script>
<script>

    $('#edit-modal').on('hidden.bs.modal', function () {
        $(this).find(":input").val('');
    })

    $('body').on('hidden.bs.modal', '.modal', function () {
        $(this).removeData('bs.modal');
      });

    $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
        if (
        $(this)
        .parent()
        .hasClass("active")
        ) {
            $(".sidebar-dropdown").removeClass("active");
        $(this)
        .parent()
        .removeClass("active");
        } else {
            $(".sidebar-dropdown").removeClass("active");
        $(this)
        .next(".sidebar-submenu")
        .slideDown(200);
        $(this)
        .parent()
        .addClass("active");
        }
    });

</script>
