@{
    ViewData["Title"] = "Home Page";
}

@using Newtonsoft.Json;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script src="https://cdn.tiny.cloud/1/y10y7it4cblpazpalsphbcrlyoz7xtuyid9skocdb0bw6l5a/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> *@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/Sidebar.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/configurator-style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.4/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.4/css/dx.light.css" />

</head>

<style>
    [contenteditable="true"]:active,
    [contenteditable="true"]:focus {
        border-bottom: 1px solid black;
        padding: 2px;
        outline: none;
    }

    [contenteditable="true"]:focus>style::before {
        content: "styles";
        font-size: 1.5em;
        font-weight: 700;
    }

    [contenteditable="true"]:focus>style {
        display: block;
        position: relative;
        right: -50%;
        top: -2em;
        color: blue;
        font-family: courier, monospace;
        font-size: .75em;
        line-height: 1.5;
        padding: .5em;
        background: #fff;
        border: 1px solid #999;
        box-shadow: 1px 1px 2px #777;
        border-radius: 5px;
    }

    h4 {
        margin-bottom: 0 !important;
    }

    .edit-title-icon {
        margin-bottom: auto;
        margin-left: 15px;
        cursor: pointer;
        display: none;
    }

    .vertical-pdf-scroll-container {
        position: relative;
        margin: 15px;
        padding: 8px;
        width: 100%;
        overflow-y: scroll;
    }

    .horizontal-pdf-scroll {
        position: relative;
        margin: 15px;
        display: flex;
        overflow-x: scroll;
        padding: 8px;
    }

    canvas {
        padding: 6px;
    }

    .vertical-pdf-scroll-container>canvas {
        max-width: 100%;
    }

    .canvas-pdf-scrollable {
        margin: 0 auto;
        display: block;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .page-options {
        margin-right: 0 !important;
        margin: auto;
        display: flex;
    }

    #prev-page,
    #next-page,
    #zoom-in,
    #zoom-out {
        background-color: transparent;
        border: none;
    }

    #zoom-in,
    #zoom-out {
        float: right;
    }

    .pdf-toolbar {
        background-color: #4B4B4B;
        border-radius: 20px;
    }

    .map-container-default {
        margin: auto;
        width: auto;
        height: 500px;
    }

    .web-page-container-default {
        width: auto;
        height: 100vh;
    }

    .video-container-default {
        width: auto;
        height: 600px;
    }

    #prev-page>.fas,
    #next-page>.fas,
    #zoom-in>.fas,
    #zoom-out>.fas {
        line-height: 2 !important;
        color: white;
    }

    .grid-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .grid-gallery>.image-item:hover .actions-panel {
        opacity: 1;
    }

    .grid-gallery>.image-item {
        width: calc(25% - 16px);
        margin: 8px;
        position: relative;
    }

    .image-item>img {
        width: 100%;
        max-height: 450px;
        object-fit: contain;
        display: block;
    }

    .grid-gallery>.selectable {
        cursor: pointer;
    }

    .pdf-page-info {
        margin-left: 1rem;
        color: white;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;
    }

    .gallery .gallery-container {
        display: flex;
        flex-direction: row;
        height: 100%;
        flex: 1 1 auto;
        padding: 24px 0;
        overflow-x: scroll;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .gallery .gallery-container .item-gallery-image {
        height: 100%;
        width: auto;
        margin: 0 3px;
        position: relative;
        display: block;
        cursor: pointer;
    }

    .gallery .gallery-container .item-gallery-image img {
        height: 100%;
        object-fit: contain;
        display: block;
    }

    .gallery .gallery-container .item-gallery-image:first-of-type {
        margin-left: 0;
    }

    .gallery .gallery-container .item-gallery-image:last-of-type {
        margin-right: 0;
    }

    .gallery .gallery-container .item-gallery-image:hover {
        transform: scale(1.1);
        z-index: 100;
    }

    .gallery .gallery-container .item-gallery-image:hover .actions-panel {
        opacity: 1;
    }

    .gallery .gallery-container .disable-scale:hover {
        transform: scale(1) !important;
        z-index: 0;
    }

    .gallery .gallery-container .disable-scale:hover .actions-panel {
        display: none;
    }

    .gallery .gallery-container::-webkit-scrollbar {
        display: none;
    }

    .gallery .navigation-arrow {
        height: 100%;
        display: flex;
        align-items: center;
        flex: 0 0 56px;
    }

    .gallery .navigation-arrow svg-icon {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 8px;
        fill: white;
        padding: 4px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .gallery .navigation-arrow svg-icon:hover {
        background-color: rgba(0, 0, 0, 0.9);
    }

    .gallery .left-arrow {
        transform: rotateZ(180deg);
    }

    .horizontal-scroll-wrapper {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: auto;
        margin: 0;
        overflow-y: auto;
        overflow-x: auto;
    }

    .left-icon {
        left: 0;
        position: absolute;
        top: 50%;
        margin-left: 20px;
    }

    .right-icon {
        right: 0;
        position: absolute;
        top: 50%;
        margin-right: 20px;
    }

    .left-icon,
    .right-icon {
        color: white;
        font-size: 2.33333em;
        z-index: 101;
    }

    .edit-icon {
        padding: 10px;
        display: none;
        width: fit-content;
        right: 0;
        left: 0;
        margin: auto;
        cursor: pointer;
    }

    .page-structure {
        border: 1px dashed;
    }

    .structure {
        margin: 10px;
        padding: 10px;
        border: 2.2px dashed #312d2d;
    }

    .page {
        max-width: 80%;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }

    .edit-panel {
        display: none;
        width: 50%;
        height: 800px;
        margin: auto;
        background-color: #f0f0f0;
        top: 0;
        bottom: 0;
        position: absolute;
        right: 0;
        left: 0;
        border-radius: 20px;
    }

    .edit-panel-container {}

    .edit-button-container {
        width: 20%;
        right: 0;
        left: 0;
        margin: auto;
    }

    a {
        color: #9a9a9a !important;
    }

    .nav-link.active {
        color: black !important;
    }

    #page {
        text-align: center;
    }

    input[type='checkbox'] {
        cursor: pointer;
    }

    .form-select {
        display: block;
        width: 100%;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        -moz-padding-start: calc(0.75rem - 3px);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
</style>

<body>
    <div class="page-wrapper chiller-theme toggled" style="height: 100%;">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">pro sidebar</a>
                    <div id="close-sidebar" onclick="reloadGalleries()">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded"
                            src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                            alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">
                            Jhon
                            <strong>Smith</strong>
                        </span>
                        <span class="user-role">Administrator</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        @if (@ViewBag.HomePagesNumber > 0)
                        {
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="far fa-file"></i>
                                    <span>Home Pages</span>
                                    <span id="home-pages-number" class="badge badge-pill badge-success"></span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul id="home-pages-list">

                                    </ul>
                                </div>
                            </li>
                        }
                        @if (@ViewBag.PagesNumber == 0)
                        {

                        }

                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="far fa-file"></i>
                                <span>Pagine</span>
                                <span id="pages-number" class="badge badge-pill badge-success"></span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul id="pages-list">

                                </ul>
                            </div>
                        </li>

                    </ul>

                </div>
        </nav>

        <!-- sidebar-wrapper  -->

        <main class="page-content" id="main">
            <div class="row">
                <h4 id="page-title" contenteditable="true" style="display:block; height: 100%;"></h4>
                <span id="editButton" class="edit-title-icon">
                    <i class="fas fa-pencil-alt" style="font-size: 15px;"></i>
                </span>
                <div class="page-options">
                    <div id="page-language" style="display: none;">
                        <label for="language">Lingua: </label>
                        <select name="language" class="form-select" id="language">

                        </select>
                    </div>
                    <div id="page-default" style="display: none;">
                        <label for="default">Default: </label>
                        <select name="default" class="form-select" id="default"></select>
                    </div>
                    <div id="structure-button" style="display: none; margin-left: 20px;">
                        <i id="structure-icon" class="fa-solid fa-pen-to-square fa-xl"></i>
                    </div>
                </div>
            </div>
            <div class="demo-container" id="demo-container" style="display: none;">
                <div id="page" class="page">
                    <div id="responsive-box">
                    </div>
                </div>
            </div>
        </main>


        <div class="modal fade" id="edit-modal" role="dialog" style="backdrop-filter: blur(3px);"
            data-backdrop="static">
            <div class="modal-dialog modal-xl" style="margin-top: 5rem;">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modify-modal-title">Modifica widget</h4>
                        <button id="close-modal-button" type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <h5 style="font-weight: 700;">Impostazioni</h5>
                        </div>

                        <div id="settings-tab" class="container">
                            <ul class="nav nav-tabs">
                                <a class="nav-item active nav-link" href="#property-pane"
                                    data-toggle="tab">Proprietà</a>
                                <a class="nav-item nav-link" href="#content-pane" data-toggle="tab">Contenuto</a>
                                <a class="nav-item nav-link" href="#text-pane" data-toggle="tab">Testo</a>
                                <a class="nav-item nav-link" href="#event-pane" data-toggle="tab">Eventi</a>
                                <a class="nav-item nav-link" href="#position-pane" data-toggle="tab">Posizionamento</a>
                                <a class="nav-item nav-link" href="#style-pane" data-toggle="tab">Stile</a>
                                <a class="nav-item nav-link" href="#mobile-style-pane" data-toggle="tab">Stile
                                    Mobile</a>
                            </ul>
                            <div class="tab-content" style="padding: 2%;">
                                <div class="tab-pane active" id="property-pane">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="id">Id:</label>
                                            <input id="id" type="number" min="0" class="form-control"
                                                placeholder="Selezionare">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="type">Tipo:</label>
                                            <select id="type" class="form-select" data-style="btn-primary">
                                                <option value="0">Testo</option>
                                                <option value="1">Gallery</option>
                                                <option value="2">video</option>
                                                <option value="3">Pdf</option>
                                                <option value="4">Showcase</option>
                                                <option value="5">Mappa</option>
                                                <option value="6">Pagina Web</option>
                                                <option value="101">Galleria orizzontale</option>
                                                <option value="5">Galleria griglia</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="content-pane">

                                    @* TEXT CONTENT *@
                                    <div class="row" id="0" style="display: none;">
                                        <label for="0-text">Testo:</label>
                                        <textarea type="text" class="form-control" placeholder="<p>Esempio</p>"
                                            id="0-text"></textarea>
                                    </div>

                                    @* GALLERY CONTENT *@
                                    <div id="1" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="1-showIndicators">Indicatori:</label>
                                                <input id="1-showIndicators" type="checkbox" data-toggle="toggle"
                                                    data-width="100">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="1-showNavButtons">Pulsanti:</label>
                                                <input id="1-showNavButtons" type="checkbox" data-toggle="toggle"
                                                    data-width="100">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="1-enableLoop">Loop:</label>
                                                <input id="1-enableLoop" type="checkbox" data-toggle="toggle"
                                                    data-width="100">
                                            </div>
                                        </div>
                                        <span style="margin-top: 22px;"></span>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="1-slideShowDelay">Delay scorrimento:</label>
                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"
                                                            id="inputGroup-sizing-sm">ms</span>
                                                    </div>
                                                    <input id="1-slideShowDelay" type="number" class="form-control"
                                                        aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="1-serverSideScalingEnabled">Scalatura abilitata:</label>
                                                <input id="1-serverSideScalingEnabled" type="checkbox"
                                                    data-toggle="toggle" data-width="100">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="1-cacheEnabled">Cache abilitato:</label>
                                                <input id="1-cacheEnabled" type="checkbox" data-toggle="toggle"
                                                    data-width="100">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="1-source">
                                                    Risorse (se più di una separare andando a
                                                    capo):
                                                </label>
                                                <textarea class="form-control rounded-0" id="1-source"
                                                    rows="6"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    @* VIDEO CONTENT *@
                                    <div id="2" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="2-source">
                                                    Risorse (se più di una separare andando a
                                                    capo):
                                                </label>
                                                <textarea class="form-control rounded-0" id="3-source"
                                                    rows="6"></textarea>
                                            </div>
                                        </div>
                                        <span style="margin-top: 22px; display: block;"></span>
                                        <div class="row">
                                            <div class="col-md">
                                                <div class="form-floating">
                                                    <label for="2-height">Altezza video:</label>
                                                    <input type="text" class="form-control" id="2-height"
                                                        placeholder="Default 100%">
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <div class="form-floating">
                                                    <label for="2-width">Larghezza video:</label>
                                                    <input type="text" class="form-control" id="2-width"
                                                        placeholder="Default 100%">
                                                </div>
                                            </div>
                                        </div>
                                        <span style="margin-top: 22px; display: block;"></span>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="2-enableLoop">Loop abilitato:</label>
                                                <input id="2-enableLoop" type="checkbox" data-toggle="toggle"
                                                    data-width="100">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="2-enableAutoplay">Autoplay abilitato:</label>
                                                <input id="2-enableAutoplay" type="checkbox" data-toggle="toggle"
                                                    data-width="100">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="2-disableControls">Disabilita controlli:</label>
                                                <input id="2-disableControls" type="checkbox" data-toggle="toggle"
                                                    data-width="100">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="2-responsive">Responsive:</label>
                                                <input id="2-responsive" type="checkbox" data-toggle="toggle"
                                                    data-width="100">
                                            </div>
                                        </div>
                                    </div>

                                    @* PDF CONTENT *@
                                    <div class="row" id="3" style="display: none;">
                                        <div class="col-md-12">
                                            <label for="pdf-sources">
                                                Risorse (se più di una separare andando a
                                                capo):
                                            </label>
                                            <textarea class="form-control rounded-0" id="3-source" rows="6"></textarea>
                                        </div>
                                    </div>

                                    @* SHOWCASE CONTENT *@
                                    <div id="4" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="4-showcasdeId">Id showcase:</label>
                                                <input class="form-control" type="text" placeholder="null"
                                                    id="4-showcasdeId">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="4-options">Opzioni showcase:</label>
                                                <input class="form-control" type="text" placeholder="null"
                                                    id="4-options">
                                            </div>
                                        </div>
                                        <span style="display: block; margin-top: 22px;"></span>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="showcase-sources">
                                                    Risorse (se più di una separare andando a
                                                    capo):
                                                </label>
                                                <textarea class="form-control rounded-0" id="4-source"
                                                    rows="6"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    @* MAP CONTENT *@
                                    <div id="5" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="5-latitude">Latitudine:</label>
                                                <input class="form-control" type="number" placeholder="e.g 40.2123"
                                                    id="5-latitude">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="5-longitude">Longitudine:</label>
                                                <input class="form-control" type="number" placeholder="e.g 60.8970"
                                                    id="5-longitude">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="5-zoom">zoom:</label>
                                                <input class="form-control" type="number" placeholder="e.g 3"
                                                    id="5-zoom">
                                            </div>
                                        </div>
                                        <span style="display: block; margin-top: 22px;"></span>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="5-style">Stile:</label>
                                                <input class="form-control" type="text" placeholder="" id="5-style">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="5-icon">Icon:</label>
                                                <input class="form-control" type="text" placeholder="" id="5-icon">
                                            </div>
                                        </div>
                                    </div>

                                    @* WEBPAGE CONTENT *@
                                    <div class="row" id="6" style="display: none;">
                                        <div class="col-md-12">
                                            <label for="6-source">Risorse (se più di una separare andando a
                                                capo):</label>
                                            <textarea class="form-control rounded-0" id="6-source" rows="6"></textarea>
                                        </div>
                                    </div>

                                    @* HORIZONTAL SCROLL GALLERY CONTENT *@
                                    <div class="row" id="101" style="display: none;">
                                        <div class="col-md-12">
                                            <label for="101-source">
                                                Risorse (se più di una
                                                separare andando a capo):
                                            </label>
                                            <textarea class="form-control rounded-0" id="101-source"
                                                rows="6"></textarea>
                                        </div>
                                    </div>

                                    @* GRID GALLERY CONTENT *@
                                    <div class="row" id="102" style="display: none;">
                                        <div class="col-md-12">
                                            <label for="102-source">
                                                Risorse (se più di una separare andando a
                                                capo):
                                            </label>
                                            <textarea class="form-control rounded-0" id="102-source"
                                                rows="6"></textarea>
                                        </div>
                                    </div>

                                </div>

                                @* TAB EVENTI *@
                                <div class="tab-pane" id="event-pane">
                                    <label>Hover:</label>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <select id="hover" class="form-select">
                                                <option value="0">None</option>
                                                <option value="1">Default</option>
                                                <option value="2">Underline</option>
                                                <option value="3">Expand</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                @* TAB TESRO *@
                                <div class="tab-pane" id="text-pane">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="text">Testo:</label>
                                            <textarea id="value" type="text" class="form-control"
                                                placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <span style="display: block; margin-top: 22px;"></span>
                                    <label for="position">Posizione:</label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <select id="position" class="form-select">
                                                <option value="0">Centrato</option>
                                                <option value="1">Assoluto</option>
                                            </select>
                                        </div>
                                    </div>
                                    <span style="display: block; margin-top: 22px;"></span>
                                    <span id="text-position-wrapper" style="display: none;">
                                        <label>Posizionamento:</label>
                                        <div id="text-position" class="row">
                                            <div class="col-md-3">
                                                <input id="top" type="text" class="form-control" placeholder="Sopra">
                                            </div>
                                            <div class="col-md-3">
                                                <input id="right" type="text" class="form-control" placeholder="Destra">
                                            </div>
                                            <div class="col-md-3">
                                                <input id="bottom" type="text" class="form-control" placeholder="Sotto">
                                            </div>
                                            <div class="col-md-3">
                                                <input id="left" type="text" class="form-control"
                                                    placeholder="Sinistra">
                                            </div>
                                        </div>
                                    </span>
                                </div>

                                @* TAB POSIZIONAMENTO *@
                                <div class="tab-pane" id="position-pane">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="row">Riga:</label>
                                            <input type="number" min="0" class="form-control" id="row">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="rowSpan">Espansione Riga:</label>
                                            <input type="number" min="0" class="form-control" id="rowSpan">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 2%;">
                                        <div class="col-md-6">
                                            <label for="column">Colonna:</label>
                                            <input type="number" min="0" class="form-control" id="column">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="columnSpan">Espansione colonna:</label>
                                            <input type="number" min="0" class="form-control" id="columnSpan">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 2%;">
                                        <div class="col-md-6">
                                            <label for="mobileRow">Riga per mobile:</label>
                                            <input type="number" min="0" class="form-control" id="mobileRow">
                                        </div>
                                    </div>
                                </div>

                                @* TAB STILE *@
                                <div class="tab-pane" id="style-pane">
                                    <div class="row g-2">
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <label for="height">Altezza</label>
                                                <input type="text" class="form-control" id="height" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <label for="width">Larghezza</label>
                                                <input type="text" class="form-control" id="width" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <label>Margine:</label>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <input id="m-top" type="text" class="form-control" placeholder="Sopra">
                                        </div>
                                        <div class="col-md-3">
                                            <input id="m-right" type="text" class="form-control" placeholder="Destra">
                                        </div>
                                        <div class="col-md-3">
                                            <input id="m-bottom" type="text" class="form-control" placeholder="Sotto">
                                        </div>
                                        <div class="col-md-3">
                                            <input id="m-left" type="text" class="form-control" placeholder="Sinistra">
                                        </div>
                                    </div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <label>Padding (rientranza):</label>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <input id="p-top" type="text" class="form-control" placeholder="Sopra">
                                        </div>
                                        <div class="col-md-3">
                                            <input id="p-right" type="text" class="form-control" placeholder="Destra">
                                        </div>
                                        <div class="col-md-3">
                                            <input id="p-bottom" type="text" class="form-control" placeholder="Sotto">
                                        </div>
                                        <div class="col-md-3">
                                            <input id="p-left" type="text" class="form-control" placeholder="Sinistra">
                                        </div>
                                    </div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label for="background">Sfondo:</label>
                                            <input id="background" type="text" class="form-control" placeholder="">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="textColor">Colore del testo:</label>
                                            <input id="textColor" type="color" class="form-control"
                                                placeholder="Colore del testo">
                                        </div>
                                    </div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="fontFamily">Font:</label>
                                            <input id="fontFamily" type="text" class="form-control" placeholder="">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="fontSize">Grandezza del font:</label>
                                            <input id="fontSize" type="text" class="form-control"
                                                placeholder="smal, medium, large...">
                                        </div>
                                    </div>
                                    <span style="margin-top: 20px; display: block;"></span>

                                    <label for="">Bordi</label>
                                    <i class="fa-solid fa-border-bottom-right"></i>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="b-type">Tipo di bordo:</label>
                                            <input id="b-type" type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="b-style">Stile bordo:</label>
                                            <input id="b-style" type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="b-width">Larghezza bordo:</label>
                                            <input id="b-width" type="text" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="b-color">Colore bordo:</label>
                                            <input id="b-color" type="color" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                @* TAB STILE MOBILE *@
                                <div class="tab-pane" id="mobile-style-pane">
                                    <div class="row g-2">
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <label for="m-height">Altezza:</label>
                                                <input type="text" class="form-control" id="m-height" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <label for="m-width">Larghezza:</label>
                                                <input type="text" class="form-control" id="m-width" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <label>Margine:</label>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <input id="mobile-m-top" type="text" class="form-control"
                                                placeholder="Sopra">
                                        </div>
                                        <div class="col-md-3">
                                            <input id="mobile-m-right" type="text" class="form-control"
                                                placeholder="Destra">
                                        </div>
                                        <div class="col-md-3">
                                            <input id="mobile-m-bottom" type="text" class="form-control"
                                                placeholder="Sotto">
                                        </div>
                                        <div class="col-md-3">
                                            <input id="mobile-m-left" type="text" class="form-control"
                                                placeholder="Sinistra">
                                        </div>
                                    </div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <label>Padding (rientranza):</label>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <input id="mobile-p-top" type="text" class="form-control"
                                                placeholder="Sopra">
                                        </div>
                                        <div class="col-md-3">
                                            <input id="mobile-p-right" type="text" class="form-control"
                                                placeholder="Destra">
                                        </div>
                                        <div class="col-md-3">
                                            <input id="mobile-p-bottom" type="text" class="form-control"
                                                placeholder="Sotto">
                                        </div>
                                        <div class="col-md-3">
                                            <input id="mobile-p-left" type="text" class="form-control"
                                                placeholder="Sinistra">
                                        </div>
                                    </div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label for="mobile-background">Sfondo:</label>
                                            <input id="mobile-background" type="text" class="form-control"
                                                placeholder="">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="mobile-textColor">Colore del testo:</label>
                                            <input id="mobile-textColor" type="color" class="form-control"
                                                placeholder="Colore del testo">
                                        </div>
                                    </div>
                                    <span style="margin-top: 20px; display: block;"></span>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="mobile-fontFamily">Font:</label>
                                            <input id="mobile-fontFamily" type="text" class="form-control"
                                                placeholder="">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="mobile-fontSize">Grandezza del font</label>
                                            <input id="mobile-fontSize" type="text" class="form-control"
                                                placeholder="smal, medium, large...">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger">Elimina Widget</button>
                            <button id="save-widget-changes-button" type="button" class="btn btn-success">Salva</button>
                        </div>
                    </div>
                </div>
            </div>

</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCowLFqzzxbC6fbqqoWeJb97MeAi3Hvqqo" async></script>
<script src='https://static.matterport.com/showcase-sdk/latest.js'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.12.313/build/pdf.min.js"></script>
<script type="module" src="~/js/requests.js" asp-append-version="true"></script>
<script src="https://cdn3.devexpress.com/jslib/21.2.4/js/dx.all.js"></script>
<script>

    $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
        if (
        $(this)
        .parent()
        .hasClass("active")
        ) {
            $(".sidebar-dropdown").removeClass("active");
        $(this)
        .parent()
        .removeClass("active");
        } else {
            $(".sidebar-dropdown").removeClass("active");
        $(this)
        .next(".sidebar-submenu")
        .slideDown(200);
        $(this)
        .parent()
        .addClass("active");
        }
    });

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        $(".page-content").addClass("myPadding");
    });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        $(".page-content").removeClass("myPadding");
    });

        $('#page-title').click(function () {

        });

        $('#editButton').click(function () {
            $('#page-title').focus();
    });

</script>
