<video *ngIf="!youTubeUrl && !vimeoUrl" [controls]="disableControlsValue" [autoplay]="autoplayValue" [loop]="loopValue"
    [width]="videoConfiguration.Width" [height]="videoConfiguration.Height">
    <source [src]="videoConfiguration.Source">
</video>


<iframe *ngIf="youTubeUrl" [src]="youTubeUrl" [width]="videoConfiguration.Width" [height]="videoConfiguration.Height"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>


<div [ngClass]="{ 'responsive-container': videoConfiguration.Responsive === true }">
    <iframe *ngIf="vimeoUrl" [src]="vimeoUrl" [width]="videoConfiguration.Width" [height]="videoConfiguration.Height"
        frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>
